h1 {
    font-size: 2rem;
    color: #222;
    font-weight: 400;
}

.section .box-information {
    height: 115px;
    border: 1px solid #dbdbdb;
    margin-bottom: 30px;
}

.section .box-information a {
    color: #222;
    font-size: 21px;
    font-weight: 600;
    line-height: 29px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    border-bottom: 4px solid #72a037;
    transition: all .3s ease;
}

.section .box-information a:hover {
    transition: all,.4s,ease;
    background: #72a037;
    color: #fff;
    text-decoration: none;
}

.section .box-information .image img {
    width: 75px;
    height: 75px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}

.section .box-information .text .small {
    font-size: 60%;
}

/* Media Queries */

@media (min-width: 1230px) {
.section .container {
    max-width: 1100px;
    }
}    

@media (min-width: 992px) {
.section .box-information {
    margin: 0 5px 30px;
    }
}    